.container{
    @apply max-w-7xl mx-auto px-4;
}

.card{
    @apply bg-white shadow-lg rounded overflow-hidden;
}

.card-body{
    @apply px-6 py-4;
}

.card-tittle{
    @apply text-xl text-gray-700 mb-2 leading-6;
}

.embed-responsive{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.embed-responsive iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

@media(min-width:640px){
    .container{
        @apply px-6;
    }
}

@media(min-width:1024px){
    .container{
        @apply px-8;
    }
}


.bg-\[\#0077b5\] {
    --tw-bg-opacity: 1;
    background-color: rgb(0 119 181 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#0077b5\]\/10 {
    background-color: rgb(0 119 181 / 0.1);
  }
  
  .bg-\[\#1da1f2\] {
    --tw-bg-opacity: 1;
    background-color: rgb(29 161 242 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#1da1f2\]\/10 {
    background-color: rgb(29 161 242 / 0.1);
  }
  
  .bg-\[\#3b5998\] {
    --tw-bg-opacity: 1;
    background-color: rgb(59 89 152 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#3b5998\]\/10 {
    background-color: rgb(59 89 152 / 0.1);
  }
  
  .bg-\[\#dd4b39\] {
    --tw-bg-opacity: 1;
    background-color: rgb(221 75 57 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#dd4b39\]\/10 {
    background-color: rgb(221 75 57 / 0.1);
  }
  
  .bg-\[\#e1306c\] {
    --tw-bg-opacity: 1;
    background-color: rgb(225 48 108 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#e1306c\]\/10 {
    background-color: rgb(225 48 108 / 0.1);
  }
  
  .bg-\[\#ff0000\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 0 0 / var(--tw-bg-opacity));
  }
  
  .bg-\[\#ff0000\]\/10 {
    background-color: rgb(255 0 0 / 0.1);
  }
  
  .bg-cyan-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(6 182 212 / var(--tw-bg-opacity));
  }
  
  .bg-danger {
    --tw-bg-opacity: 1;
    background-color: rgb(250 64 64 / var(--tw-bg-opacity));
  }
  
  .bg-danger-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(236 6 6 / var(--tw-bg-opacity));
  }
  
  .bg-danger-light {
    --tw-bg-opacity: 1;
    background-color: rgb(254 236 236 / var(--tw-bg-opacity));
  }
  
  .bg-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(12 25 59 / var(--tw-bg-opacity));
  }
  
  .bg-dark-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(9 19 45 / var(--tw-bg-opacity));
  }
  
  .bg-dark-light {
    --tw-bg-opacity: 1;
    background-color: rgb(216 225 247 / var(--tw-bg-opacity));
  }
  
  .bg-dark\/25 {
    background-color: rgb(12 25 59 / 0.25);
  }
  
  .bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  }
  
  .bg-green-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(34 197 94 / var(--tw-bg-opacity));
  }
  
  .bg-indigo-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(129 140 248 / var(--tw-bg-opacity));
  }
  
  .bg-info {
    --tw-bg-opacity: 1;
    background-color: rgb(74 199 243 / var(--tw-bg-opacity));
  }
  
  .bg-info-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(15 173 229 / var(--tw-bg-opacity));
  }
  
  .bg-info-light {
    --tw-bg-opacity: 1;
    background-color: rgb(237 249 254 / var(--tw-bg-opacity));
  }
  
  .bg-light {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 252 / var(--tw-bg-opacity));
  }
  
  .bg-light-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(242 243 244 / var(--tw-bg-opacity));
  }
  
  .bg-light-light {
    --tw-bg-opacity: 1;
    background-color: rgb(249 250 252 / var(--tw-bg-opacity));
  }
  
  .bg-light\/30 {
    background-color: rgb(249 250 252 / 0.3);
  }
  
  .bg-lime-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(247 254 231 / var(--tw-bg-opacity));
  }
  
  .bg-neutral-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
  }
  
  .bg-neutral-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23 / var(--tw-bg-opacity));
  }
  
  .bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(53 123 255 / var(--tw-bg-opacity));
  }
  
  .bg-primary-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(0 82 237 / var(--tw-bg-opacity));
  }
  
  .bg-primary-light {
    --tw-bg-opacity: 1;
    background-color: rgb(235 242 255 / var(--tw-bg-opacity));
  }
  
  .bg-purple-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(126 34 206 / var(--tw-bg-opacity));
  }
  
  .bg-red-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 242 242 / var(--tw-bg-opacity));
  }
  
  .bg-secondary {
    --tw-bg-opacity: 1;
    background-color: rgb(213 218 224 / var(--tw-bg-opacity));
  }
  
  .bg-secondary-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(155 167 181 / var(--tw-bg-opacity));
  }
  
  .bg-secondary-light {
    --tw-bg-opacity: 1;
    background-color: rgb(251 251 252 / var(--tw-bg-opacity));
  }
  
  .bg-secondary\/25 {
    background-color: rgb(213 218 224 / 0.25);
  }
  
  .bg-secondary\/60 {
    background-color: rgb(213 218 224 / 0.6);
  }
  
  .bg-stone-700\/70 {
    background-color: rgb(68 64 60 / 0.7);
  }
  
  .bg-success {
    --tw-bg-opacity: 1;
    background-color: rgb(76 175 80 / var(--tw-bg-opacity));
  }
  
  .bg-success-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(59 135 62 / var(--tw-bg-opacity));
  }
  
  .bg-success-light {
    --tw-bg-opacity: 1;
    background-color: rgb(237 247 237 / var(--tw-bg-opacity));
  }
  
  .bg-transparent {
    background-color: transparent;
  }
  
  .bg-warning {
    --tw-bg-opacity: 1;
    background-color: rgb(248 161 62 / var(--tw-bg-opacity));
  }
  
  .bg-warning-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(230 127 8 / var(--tw-bg-opacity));
  }
  
  .bg-warning-light {
    --tw-bg-opacity: 1;
    background-color: rgb(254 246 236 / var(--tw-bg-opacity));
  }
  
  .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  
  .bg-white\/20 {
    background-color: rgb(255 255 255 / 0.2);
  }
  
  .bg-white\/\[\.15\] {
    background-color: rgb(255 255 255 / .15);
  }
  
  .bg-yellow-50 {
    --tw-bg-opacity: 1;
    background-color: rgb(254 252 232 / var(--tw-bg-opacity));
  }
  
  .bg-zinc-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(24 24 27 / var(--tw-bg-opacity));
  }
  
.text-\[\#0077b5\] {
    --tw-text-opacity: 1;
    color: rgb(0 119 181 / var(--tw-text-opacity));
  }
  
  .text-\[\#1da1f2\] {
    --tw-text-opacity: 1;
    color: rgb(29 161 242 / var(--tw-text-opacity));
  }
  
  .text-\[\#3b5998\] {
    --tw-text-opacity: 1;
    color: rgb(59 89 152 / var(--tw-text-opacity));
  }
  
  .text-\[\#dd4b39\] {
    --tw-text-opacity: 1;
    color: rgb(221 75 57 / var(--tw-text-opacity));
  }
  
  .text-\[\#e1306c\] {
    --tw-text-opacity: 1;
    color: rgb(225 48 108 / var(--tw-text-opacity));
  }
  
  .text-\[\#ff0000\] {
    --tw-text-opacity: 1;
    color: rgb(255 0 0 / var(--tw-text-opacity));
  }
  
  .text-amber-500 {
    --tw-text-opacity: 1;
    color: rgb(245 158 11 / var(--tw-text-opacity));
  }
  
  .text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
  }
  
  .text-danger {
    --tw-text-opacity: 1;
    color: rgb(250 64 64 / var(--tw-text-opacity));
  }
  
  .text-danger-light {
    --tw-text-opacity: 1;
    color: rgb(254 236 236 / var(--tw-text-opacity));
  }
  
  .text-dark {
    --tw-text-opacity: 1;
    color: rgb(12 25 59 / var(--tw-text-opacity));
  }
  
  .text-dark-light {
    --tw-text-opacity: 1;
    color: rgb(216 225 247 / var(--tw-text-opacity));
  }
  
  .text-gray-100 {
    --tw-text-opacity: 1;
    color: rgb(243 244 246 / var(--tw-text-opacity));
  }
  
  .text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
  
  .text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }
  
  .text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
  }
  
  .text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
  }
  
  .text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
  }
  
  .text-info {
    --tw-text-opacity: 1;
    color: rgb(74 199 243 / var(--tw-text-opacity));
  }
  
  .text-info-light {
    --tw-text-opacity: 1;
    color: rgb(237 249 254 / var(--tw-text-opacity));
  }
  
  .text-info\/40 {
    color: rgb(74 199 243 / 0.4);
  }
  
  .text-light {
    --tw-text-opacity: 1;
    color: rgb(249 250 252 / var(--tw-text-opacity));
  }
  
  .text-muted {
    --tw-text-opacity: 1;
    color: rgb(134 134 134 / var(--tw-text-opacity));
  }
  
  .text-neutral-500 {
    --tw-text-opacity: 1;
    color: rgb(115 115 115 / var(--tw-text-opacity));
  }
  
  .text-primary {
    --tw-text-opacity: 1;
    color: rgb(53 123 255 / var(--tw-text-opacity));
  }
  
  .text-primary-light {
    --tw-text-opacity: 1;
    color: rgb(235 242 255 / var(--tw-text-opacity));
  }
  
  .text-red-500 {
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity));
  }
  
  .text-secondary {
    --tw-text-opacity: 1;
    color: rgb(213 218 224 / var(--tw-text-opacity));
  }
  
  .text-secondary-dark {
    --tw-text-opacity: 1;
    color: rgb(155 167 181 / var(--tw-text-opacity));
  }
  
  .text-secondary-light {
    --tw-text-opacity: 1;
    color: rgb(251 251 252 / var(--tw-text-opacity));
  }
  
  .text-stone-400 {
    --tw-text-opacity: 1;
    color: rgb(168 162 158 / var(--tw-text-opacity));
  }
  
  .text-stone-500 {
    --tw-text-opacity: 1;
    color: rgb(120 113 108 / var(--tw-text-opacity));
  }
  
  .text-stone-600 {
    --tw-text-opacity: 1;
    color: rgb(87 83 78 / var(--tw-text-opacity));
  }
  
  .text-success {
    --tw-text-opacity: 1;
    color: rgb(76 175 80 / var(--tw-text-opacity));
  }
  
  .text-success-light {
    --tw-text-opacity: 1;
    color: rgb(237 247 237 / var(--tw-text-opacity));
  }
  
  .text-warning {
    --tw-text-opacity: 1;
    color: rgb(248 161 62 / var(--tw-text-opacity));
  }
  
  .text-warning-light {
    --tw-text-opacity: 1;
    color: rgb(254 246 236 / var(--tw-text-opacity));
  }
  
  .text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  
  .text-white\/50 {
    color: rgb(255 255 255 / 0.5);
  }
  
  .text-white\/75 {
    color: rgb(255 255 255 / 0.75);
  }
  
  .text-white\/80 {
    color: rgb(255 255 255 / 0.8);
  }
  
  .text-white\/90 {
    color: rgb(255 255 255 / 0.9);
  }
  
  .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .opacity-0 {
    opacity: 0;
  }
  
  .opacity-40 {
    opacity: 0.4;
  }
  
  .opacity-50 {
    opacity: 0.5;
  }
  
  .opacity-75 {
    opacity: 0.75;
  }

  .fill-current {
    fill: currentColor;
  }